/* --- GENERAL --- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

    --blank: #f8fafc;
    --background: #cbd5e1;
    --text-normal: #475569;
    --text-emphasis: #0f172a;
    --primary: #1e293b;
    --accent: #FFBF00;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template: auto 1fr / var(--sidebar-width) 1fr;

    --grid-margin: 1rem;
    --grid-padding: .25rem;
    --main-row-height: 3.5rem;
    --sidebar-width: 18rem;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.icon {
    height: 1.5rem;
}

.profile-small {
    height: 3rem;
}

.profile-large {
    height: 5rem;
}

.profile-small,
.profile-large {
    border-radius: 50%;
}

/* --- SIDEBAR --- */

.sidebar {
    background-color: var(--primary);

    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sidebar-grid {
    height: auto;
    margin: var(--grid-margin);

    display: grid;
    grid-template: var(--main-row-height) .5fr repeat(6, 1fr) .5fr repeat(3, 1fr) / 1fr;
    gap: .5rem;
}

.sidebar-row {
    padding: var(--grid-padding);
    border-radius: 1rem;
    font-size: 1.15rem;
    border: solid transparent;

    display: grid;
    align-self: center;
    grid-template: 1fr / 1fr 4fr;
    gap: 1rem;
}

a.sidebar-row:hover {
    background-color: var(--text-normal);
}

a.sidebar-row:hover p {
    color: var(--accent);
}

a.sidebar-row:active {
    border: solid var(--blank);
}

.sidebar-row .img-container {
    display: grid;
    place-items: center;
}

.sidebar-row p {
    color: var(--blank);
    align-self: center;
}

.sidebar-row.dashboard,
.sidebar-row.empty {
    border: none;
    padding: 0 var(--grid-padding);
}

.sidebar-row.dashboard img {
    height: auto;
}

.sidebar-row.dashboard p {
    font-size: 1.75rem;
    font-weight: 600;
}

/* --- HEADER --- */

.header {
    background-color: var(--blank);

    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.header > div {
    margin: var(--grid-margin) 2rem;
    padding: var(--grid-padding);
    color: var(--text-emphasis);

    display: grid;
    grid-template: 1fr / minmax(20rem, 1fr) 1.5rem 3rem auto;
    gap: 1rem;
    align-items: center;
}

.header > div .left {
    justify-self: left;
}

.header > div .right {
    justify-self: right;

}

.header > div a {
    height: fit-content;
}

.header > div a:link {
    color: var(--text-emphasis);
}

.header > div a:visited {
    color: var(--text-emphasis);
}

.header-grid-1 {
    height: var(--main-row-height);
    grid-template: 1fr / minmax(20rem, 1fr) 1.5rem 3rem auto;
}

.header-grid-2 {
    height: 5rem;
}

.header-grid-1 form {
    display: grid;
    grid-template: auto / auto 1fr;
    gap: 1rem;
    align-items: center;
}

.header-grid-1 form button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.header-grid-1 form input {
    height: 2rem;
    width: 80%;
    padding: .5rem .75rem;
    justify-self: start;

    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    border: solid transparent;
    border-radius: 1rem;
}

.header-grid-1 form input:focus {
    border: solid var(--accent);
}

/* --- MAIN CONTENT --- */

.main-content {
    background-color: var(--background);

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}