/* --- GENERAL --- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

    --blank: #f8fafc;
    --background: #cbd5e1;
    --text-normal: #475569;
    --text-emphasis: #0f172a;
    --primary: #1e293b;
    --accent: #FFBF00;

    --box-shadow: rgba(71, 85, 105, .33);
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    height: 100vh;
}

.container {
    display: grid;
    grid-template: auto 1fr / var(--sidebar-width) 1fr;

    --margin: 1rem;
    --gap: 1rem;
    --padding-small: .25rem;
    --padding-large: 1rem;
    --main-row-height: 3.5rem;
    --sidebar-width: 18rem;

    --icon: 1.5rem;
    --profile-small: 2.75rem;
    --profile-large: 3.75rem;
}

.icon {
    height: var(--icon);
}

.profile-small {
    height: var(--profile-small);
    width: var(--profile-small);
}

.profile-large {
    height: var(--profile-large);
    width: var(--profile-large);
}

.profile-small,
.profile-large {
    border-radius: 50%;
}

h1 {
    font-size: 1.65rem;
    font-weight: 700;
}

h2 {
    font-size: 1rem;
    font-weight: 500;
}

h3 {
    font-size: .9rem;
    font-weight: 500;
}

/* --- SIDEBAR --- */

.sidebar {
    color: var(--blank);
    background-color: var(--primary);
    z-index: 1;

    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sidebar-grid {
    height: auto;
    margin: var(--margin);

    display: grid;
    grid-template: var(--main-row-height) .5fr repeat(6, 1fr) .5fr repeat(3, 1fr) / 1fr;
    gap: .5rem;
}

.sidebar-row {
    padding: var(--padding-small);
    border-radius: 1rem;
    font-size: 1.15rem;
    border: solid transparent;

    display: grid;
    align-self: center;
    grid-template: 1fr / 1fr 4fr;
    gap: var(--gap);
}

a.sidebar-row:hover {
    background-color: var(--text-normal);
}

a.sidebar-row:hover h2 {
    color: var(--accent);
}

a.sidebar-row:active {
    border: solid var(--blank);
}

.sidebar-row .img-container {
    display: grid;
    place-items: center;
}

.sidebar-row h1,
.sidebar-row h2 {
    align-self: center;
}

.sidebar-row.dashboard,
.sidebar-row.empty {
    border: none;
}

.sidebar-row.dashboard img {
    height: auto;
}

/* --- HEADER --- */

.header {
    background-color: var(--blank);
    color: var(--text-emphasis);
    box-shadow: 0 .1rem 1rem .1rem var(--box-shadow);

    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.header-grid {
    margin: var(--margin) 2rem;

    display: grid;
    grid-template: var(--main-row-height) auto / 1fr;
    gap: .55rem;
}

.header-grid > div {
    display: grid;
    gap: var(--gap);
    align-items: center;
}

.header-grid > div a:link {
    color: var(--text-emphasis);
}

.header-grid > div a:visited {
    color: var(--text-emphasis);
}

.header-row-1 {
    grid-template: 1fr / minmax(20rem, 1fr) var(--icon) var(--profile-small) auto;
}

.header-row-1 form {
    display: grid;
    grid-template: auto / auto 1fr;
    gap: var(--gap);
    align-items: center;
}

.header-row-1 form button {
    border: 0;
    background-color: transparent;
}

.header-row-1 form input {
    height: 80%;
    width: 80%;
    padding: .5rem .75rem;
    justify-self: start;

    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    border: solid transparent;
    border-radius: 1rem;
}

.header-row-1 form input:focus {
    border: solid var(--accent);
}

.header-row-2 {
    grid-template: 1fr / var(--profile-large) auto 1fr repeat(3, 5.5rem);
}

.header-row-2 p span {
    font-size: 1.3rem;
    font-weight: 600;
}

.header-row-2 button {
    border: solid transparent;
    border-radius: 1rem;
    padding: var(--padding-small);
    font-family: 'Poppins', sans-serif;
    font-size: .85rem;
    color: var(--blank);
    background-color: var(--primary);
}

.header-row-2 button:hover {
    background-color: var(--text-normal);
    color: var(--accent);
}

.header-row-2 button:active {
    border: solid var(--accent);
}

/* --- MAIN CONTENT --- */

.main-content-grid {
    z-index: -1;
    background-color: var(--background);
    padding: var(--gap);

    display: grid;
    grid-template: 1fr / 1fr 17.5rem;
    gap: 0 var(--gap);
}

.projects {
    display: grid;
    grid-template-rows: auto 1fr;

    height: max-content;
}

.projects-grid {
    margin-top: var(--gap);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));    
    gap: var(--gap);
}

.card {
    background-color: var(--blank);
    font-size: .9rem;
    border-radius: .5rem;
    padding: var(--padding-large);
    border-left: var(--accent) .5rem solid;
}
.card > p {
    color: var(--text-normal);
    font-size: .85rem;
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-large);
}

.card > div {
    display: grid;
    grid-template-columns: 1fr repeat(3, 2.5rem);
    justify-items: end;
}

.info-column {
    display: grid;
    grid-template-rows: max-content max-content;
    gap: var(--gap);
    font-size: .75rem;
}

.info-panel {
    display: grid;
    grid-template-rows: auto 1fr;
}

.info-panel > div {
    background-color: var(--blank);
    border-radius: .5rem;
    margin-top: var(--gap);
}

.info-panel > div > div {
    margin: var(--margin);
}

.announcements p {
    color: var(--text-normal);
    line-height: .9rem;
}

.announcements > div > div {
    padding-top: var(--padding-large);
    border-top: var(--background) solid 1px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.announcements > div > div:first-child {
    padding-top: 0;
    border-top: 0;
}

.trending > div {
    display: grid;
}

.trending > div > div > a {
    display: grid;
    align-self: center;
    grid-template: 1fr / 1fr 4fr;
    gap: var(--gap);
}

.trending p {
    align-self: center;
    color: var(--text-normal);
}

.trending span {
    color: var(--text-emphasis);
    font-size: .9rem;
    font-weight: 500;
}