@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

    --blank: #f8fafc;
    --background: #cbd5e1;
    --text-normal: #475569;
    --text-emphasis: #0f172a;
    --primary: #1e293b;
    --accent: #FFBF00;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template: 8rem 1fr / 18rem 1fr;
}

/* --- SIDEBAR & HEADER --- 

.grid {
    display: grid;
    padding: 1rem;
    gap: 1rem;
}

.row {
    padding: .25rem;
    font-size: 1.15rem;
    text-decoration: none;
}

*/

/* --- SIDEBAR --- */

.sidebar {
    background-color: var(--primary);

    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sidebar-grid {
    height: auto;
    padding: 1rem;

    display: grid;
    grid-template: 1.5fr repeat(11, 1fr) / 1fr;
    gap: .5rem;
}

.sidebar-row {
    padding: .25rem;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1.15rem;
    border: solid transparent;

    display: grid;
    grid-template: 1fr / 1fr 4fr;
    gap: 1rem;
}

a.sidebar-row:hover {
    background-color: var(--text-normal);
}

a.sidebar-row:hover p {
    color: var(--accent);
}

a.sidebar-row:active {
    border: solid var(--blank);
}

.sidebar-row .img-container {
    display: grid;
    place-items: center;
}

.sidebar-row img {
    height: 1.5rem;
}

.sidebar-row p {
    color: var(--blank);
    align-self: center;
}

.sidebar-row.dashboard,
.sidebar-row.empty {
    border: none;
}

.sidebar-row.dashboard img {
    height: 3rem;
}

.sidebar-row.dashboard p {
    font-size: 1.75rem;
    font-weight: 600;
}

/* --- HEADER --- */

.header {
    background-color: green;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.header-grid-1 {
    height: 1.5rem;
    margin: 1.25rem;
    border: red solid;

    display: grid;
    grid-template: 1fr / 1fr 3rem 3rem 10rem;
    gap: 1rem;
}

.header-grid-1 img {
    height: 1.5rem;
}

/* --- MAIN CONTENT --- */

.main-content {
    background-color: var(--background);

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}